ion-chip{
    text-align: center;
}
.supporter-wrapper{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.supporter-card{
    position: relative;
    height: 80px;
    width: auto;
 
    a{
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }